<!DOCTYPE html>
<html>
  <head>
    <title>绿营 </title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <%= render "common/flashes" %>
    <!-- 这下面四行导航条内容底色消失了 -->
      <div class="container-fluid">
             <div class="row">
                <%= render "common/navbar" %>
                <%= yield %>
             </div>
      <%= render "common/footer" %>
  </body>
</html>
